*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-image: url(../images/bg-intro-desktop.png);
  background-color: #ff7a7a;
  color: #fff;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(min-content, 50rem) minmax(min-content, 45rem);
  grid-column-gap: 5vw;
  grid-row-gap: 7vw;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 3vh;
}
@media only screen and (max-width: 56.25em) {
  .container {
    height: auto;
    padding: 3vw;
    text-align: center;
    grid-template-columns: minmax(min-content, 55rem);
    grid-template-rows: repeat(2, max-content);
    grid-row-gap: 8.5vw;
    align-content: center;
  }
}

.footer {
  font-size: 1.3rem;
  text-align: center;
  margin: 1.8rem 0 1.5rem;
  font-weight: 300;
}
.footer a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}
@media only screen and (max-width: 34.375em) {
  .footer {
    font-size: 1.1rem;
  }
}

.header {
  max-width: 55ch;
}
.header__heading {
  font-size: 4rem;
  line-height: 1.2;
}
@media only screen and (max-width: 34.375em) {
  .header__heading {
    font-size: 3rem;
  }
}
.header__text {
  font-weight: 300;
  margin-top: 3rem;
}

.signup-container {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 2.5rem;
}

.input-container {
  display: flex;
  position: relative;
}

.form {
  background-color: white;
  border-radius: 0.7rem;
  padding: 3rem;
  color: red;
  text-align: right;
  box-shadow: 0 0.8rem 0.2rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 56.25em) {
  .form {
    padding: 1.5rem;
  }
}
.form__heading {
  box-shadow: 0 0.8rem 0.2rem rgba(0, 0, 0, 0.2);
}
.form__heading span {
  color: #b9b6d3;
  font-weight: 300;
}
.form__error {
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 0.3rem;
}
.form__input-box {
  margin-bottom: 1.5rem;
}
.form__input-box__img {
  position: absolute;
  width: 2rem;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.form__input-box input {
  font-size: 1.4rem;
  color: #3e3c49;
  padding: 1.5rem;
  width: 100%;
  border: #e1e1e1 solid 1px;
  border-radius: 0.5rem;
}
.form__input-box input:focus {
  outline: none;
  border: #6055a5 solid 1px;
}
.form__input-box input::placeholder {
  font-weight: 600;
  color: #b4b4b4;
}
.form__heading, .form__button {
  background-color: #6055a5;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.7rem;
  width: 100%;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
}
.form__button {
  text-transform: uppercase;
  font-weight: 400;
  background-color: #38cc8c;
  border: none;
  cursor: pointer;
  margin-bottom: 1.5rem;
  border-bottom: 3px solid #269263;
}
.form__button:hover {
  background-color: #75dbaf;
}
.form__button:focus {
  outline: 0;
}
.form .terms {
  text-align: center;
  font-size: 1rem;
  color: #b9b6d3;
}
.form .terms span {
  font-weight: 700;
  color: #ff7a7a;
}

.hide {
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
