.header {
	max-width: 55ch;

	&__heading {
		font-size: 4rem;
		line-height: 1.2;

		@media only screen and (max-width: $small) {
			font-size: 3rem;
		} //max-width: 550px
	}

	&__text {
		font-weight: 300;
		margin-top: 3rem;
	}
}
