.signup-container {
	display: grid;
	grid-template-rows: max-content max-content;
	grid-row-gap: 2.5rem;
}

.input-container {
	display: flex;
	position: relative;
}

.form {
	background-color: white;
	border-radius: .7rem;
	padding: 3rem;
	color: red;
	text-align: right;
	@include box-shadow;

	@media only screen and (max-width: $medium) {
		padding: 1.5rem;
	}

	&__heading {
		@include box-shadow;
	}

	&__heading span {
		color: $color-blue-grayish;
		font-weight: 300;
	}

	&__error {
		font-size: 1.1rem;
		font-weight: 300;
		margin-top: .3rem;
	}

	&__input-box {
		margin-bottom: 1.5rem;

		&__img {
			position: absolute;
			width: 2rem;
			right: 1.5rem;
			top: 50%;
			transform: translateY(-50%);
		}

		input {
			font-size: 1.4rem;
			color: $color-blue-dark;
			padding: 1.5rem;
			width: 100%;
			border: rgb(225, 225, 225) solid 1px;
			border-radius: .5rem;

			&:focus {
				outline: none;
				border: $color-blue solid 1px;
			}
			&::placeholder {
				font-weight: 600;
				color: rgb(180, 180, 180);
			}
		}
	}

	&__heading,
	&__button {
		background-color: $color-blue;
		text-align: center;
		padding: 1.5rem;
		border-radius: .7rem;
		width: 100%;
		font-size: 1.4rem;
		color: #fff;
		font-weight: 700;
	}

	&__button {
		text-transform: uppercase;
		font-weight: 400;
		background-color: $color-green;
		border: none;
		cursor: pointer;
		margin-bottom: 1.5rem;
		border-bottom: 3px solid darken($color-green, 15%);

		&:hover {
			background-color: lighten($color-green, 15%);
		}
		&:focus {
			outline: 0;
		}
	}

	.terms {
		text-align: center;
		font-size: 1rem;
		color: $color-blue-grayish;

		span {
			font-weight: 700;
			color: $color-red;
		}
	}
}

.hide {
	visibility: hidden;
}
